<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <div class="container-fluid align-items-center">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 justify-content-around fs-3">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/blog']" routerLinkActive="active">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/new']" routerLinkActive="active">Nuevo blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
    <footer class="blog-footer bg-dark">
        <p class="text-white">- Blog created by Iván Santa -</p>
    </footer>
</div>