<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark text-center">
    <div class="col-12 px-0">
        <h1 class="display-4 fst-italic">El blog que te lo enseñará todo sobre la sostenibilidad</h1>
        <p class="lead my-3">En nuestros artículos siempre encontrarás hábitos saludables para tí y para el planeta</p>
    </div>
</div>

<div class="row g-5">
    <div class="col-md-8">
        <article class="blog-post" *ngFor="let post of arrPosts">
            <h2 class="blog-post-title fst-italic">{{post.titulo}}</h2>
            <p class="blog-post-meta">{{post.categoria | capitalize}}</p>
            <img class="mb-4" [src]="post.imagen">
            <p class="parrafo">{{post.texto}}</p>
            <p class="blog-post-meta">Escrito por {{post.autor}} - {{post.fecha | date: 'd/M/yyyy'}}</p>
            <hr>
        </article>
    </div>

    <div class="col-md-4 mb-2">
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 bg-light rounded">
                <form>
                    <input id="busqueda" class="form-control mb-4" type="search" placeholder="Buscar por nombre"
                        aria-label="Search" (input)="onInput($event)">
                </form>
                <h3 class="fst-italic">Categorías</h3>
                <ol class="list-unstyled mb-0">
                    <li class="d-flex"><a (click)="onClick($event)">Todas las categorías</a></li>
                    <li class="d-flex" *ngFor="let category of arrCategories"><a (click)="onClick($event)">{{category |
                            capitalize}}</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>